html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, canvas {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p, span, li {
    font: 24px 'BebasNeueRegular', Arial, sans-serif;
}

h2 {
    font: 48px 'BebasNeueRegular', Arial, sans-serif;
    letter-spacing: 0;
}

body
{
    background: url(http://static.tumblr.com/ts2nqrf/Iayl8dtss/bg.jpg) top left repeat;
    margin:0;
}

.wasabi
{
    background-color: #D4EE5E;
    font-family: BebasNeueRegular;
}

#container {
  margin: 0 auto; 
}

#tetris {
    border: 1px solid #000000;
    background-color:#333333;
    margin:0px;    
}

#scoreboard {
    border: 1px solid #000000;
    background-color:#333333;
    color: orange;
    width: 200px;
    height: 40px;
    font:36px arial,sans-serif;
    text-align: right;;
}

#controls {
    border: 1px solid #000000;
    padding:0px;    
}


#instList
{
    list-style-type: none;
    padding-left: 0px;
}

.instLabel { 
    float: left;
    width: 75px;
}

button {
    border: 1px solid #000000;
    padding:0px;
    margin:0px;
    font: 24px 'BebasNeueRegular', Arial, sans-serif;
    background-color:#333333;
    color: orange;
    word-spacing:0;
    height: 40px;
}

#popups {
    display: none;
}