#tetris {
    border: 1px solid #000000;
    background-color:#333333;
    margin:0px;
    
}

#scoreboard {
    border: 1px solid #000000;
    background-color:#333333;
    color: orange;
    width: 200px;
    height: 40px;
    font:36px arial,sans-serif;
    text-align: right;;
}

#controls {
    margin:0px;
    padding:0px;    
}

button {
    border: 1px solid #000000;
    padding:0px;
    margin:0px;
    
    background-color:#333333;
    color: orange;
    width:65px;
    height: 40px;
}