html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, canvas {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p, span, li {
    font: 24px 'BebasNeueRegular', Arial, sans-serif;
}

h2 {
    font: 48px 'BebasNeueRegular', Arial, sans-serif;
    letter-spacing: 0;
}

body
{
    background: url(http://static.tumblr.com/ts2nqrf/fGxl8du40/texture.png) top left repeat;
    background-color:#222;
    margin:0;
}

.wasabi
{
    background-color: #D4EE5E;
    font-family: BebasNeueRegular;
}

#container {
  margin: 0 auto; 
}

#tetris {
    border: 1px solid #000000;
    background-color:#333333;
    margin:0px;    
}

#scoreboard, #hiScore, #currentScore {
    border: 1px solid #000000;
    background-color:#333333;
    height: 40px;
}

#hiScore, #currentScore {
    border: 0px;
    background-color:#333333;
    color: orange;
    display: inline-block;
    width: 46%;
    height: 40px;
    font: 36px 'BebasNeueRegular', Arial, sans-serif;
}

#hiScore {
    padding-left: 5px;
}

#currentScore {
    padding-right: 5px;
}

#currentScore {
    text-align: right;
}

#controls {
    border: 1px solid #000000;
    padding:0px;    
}


#instList
{
    list-style-type: none;
    padding-left: 0px;
}

.instLabel { 
    float: left;
    width: 75px;
}

button {
    border: 1px solid #000000;
    padding:0px;
    margin:0px;
    font: 24px 'BebasNeueRegular', Arial, sans-serif;
    background-color:#333333;
    color: orange;
    word-spacing:0px;
    height: 40px;
}

#popups {
    display: none;
}

@media (max-device-width: 320px) { 
    button {
        font: 12px 'BebasNeueRegular', Arial, sans-serif;
        height: 20px;
    }

    #scoreboard, #hiScore, #currentScore {
        height: 22px;
    }

    #hiScore, #currentScore {
        height: 22px;
        font: 18px 'BebasNeueRegular', Arial, sans-serif;
    }
}

.pico-content{

    background: #d8effa; /* Old browsers */
background: -moz-linear-gradient(top, #d8effa 21%, #81b0c9 95%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#d8effa), color-stop(95%,#81b0c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d8effa 21%,#81b0c9 95%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d8effa 21%,#81b0c9 95%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d8effa 21%,#81b0c9 95%); /* IE10+ */
background: linear-gradient(to bottom, #d8effa 21%,#81b0c9 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8effa', endColorstr='#81b0c9',GradientType=0 ); /* IE6-9 */
box-shadow:8px 8px 15px 2px #404040;
}